@font-face {
  font-family: 'ODS';
  src: url('fonts/ODS.eot?ws7gah');
  src: url('fonts/ODS.eot?ws7gah#iefix') format('embedded-opentype'), url('fonts/ODS.ttf?ws7gah') format('truetype'), url('fonts/ODS.woff?ws7gah') format('woff'), url('fonts/ODS.svg?ws7gah#ODS') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 480px;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ODS' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 34px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev,
.icon-next {
  position: absolute;
  left: 50%;
  top: 560px;
  cursor: pointer;
}

.icon-prev {
  margin-left: -80px;
}

.icon-next {
  margin-left: 20px;
}

.icon-prev {
  float: left;
}

.icon-next:before {
  content: "\e915";
  margin: 2px;
}

.icon-prev:before {
  content: "\e916";
  margin: 2px;
}

.icon-arrow_down {
  color: #fff;
  margin: 4% auto;
  cursor: pointer;
  transform: rotate(90deg);
  width: 40px;
  height: 40px;
}

.icon-arrow_down:hover {
  color: #28ffa6;
}

.icon-arrow_down:before {
  content: "\e915";
  line-height: 2;
}

.icon-FB:before {
  content: "\e903";
  margin-left: -3px;
  line-height: 1.2;
}

.icon-TW:before {
  content: "\e904";
  font-size: 16px;
  line-height: 1.6;
}

.icon-IN:before {
  content: "\e905";
  font-size: 16px;
}

body,
html {
  width: 100%;
  height: 100%!important;
  margin: 0;
  border: none;
}

body {
  background: #f9f9f9;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialising!important
}

a {
  text-decoration: none;
  outline: none;
}

textarea,
input,
button {
  outline: none;
}

#hero .content {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  padding: 30px 0;
}

ul {
  list-style-type: none;
}

h1,
h2.white {
  color: #28ffa6;
  font-size: 30px;
  font-style: normal;
  font-weight: 100!important;
  margin: auto;
  line-height: 1.6;
}

h2,
.follow-journey__title {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 36px;
  margin: 60px 0 10px;
}

.team__title,
.follow-journey__title {
  color: #b633ee;
}

h1 strong {
  color: #FFAE00;
  font-style: normal;
  font-weight: 300;
}

p,
.follow-journey__subtitle {
  width: 75%;
  /*margin: auto;*/
  font-size: 30px;
  color: #666;
  font-weight: 100;
  max-width: 870px;
  line-height: 1.7;
}

.team,
.follow-journey {
  text-align: center;
}

.follow-journey__subscribe__name--first,
.follow-journey__subscribe__name--last,
.follow-journey__subscribe--email {
  margin-top: 40px;
  border: none;
  border-bottom: solid 1px #b633ee;
  color: #222;
  padding: 14px;
  font-size: 24px;
  font-weight: 100;
  background: none;
  min-width: 340px;
}

.follow-journey__subscribe__name--first:focus,
.follow-journey__subscribe__name--last:focus,
.follow-journey__subscribe--email:focus {
  color: #fff;
  background: #b633ee;
}

.follow-journey__subscribe--email {
  width: 100%;
}

input[type='submit'] {
  background: #b633ee;
  border: solid 1px #b633ee;
  color: #fff;
  border-radius: 40px;
  padding: 14px 40px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
}

input[type='submit']:hover {
  background: none;
  color: #b633ee;
}

form {
  max-width: 900px;
  margin: 40px auto;
  width: 70%;
}


.follow-journey__subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow-journey__subscribe__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 1100px) {
  .follow-journey__subscribe__name--first {
    margin-right: 80px;
  }

  .follow-journey__subscribe__name--first,
  .follow-journey__subscribe__name--last {
    width: 40%;
  }
}

@media (max-width: 1100px) {
  .follow-journey__subscribe__name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .follow-journey__subscribe__name--first,
  .follow-journey__subscribe__name--last,
  .follow-journey__subscribe--email {
    width: 80%;
  }
}

.follow-journey__subscribe__hidden {
  display: none;
}

.follow-journey__footer {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.page-header {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  transition: all;
  transition-duration: 0.3s;
}

.page-header--sticky,
.page-header.sticky {
  background: rgba(255, 255, 255, 0.9);
}

.page-header--sticky .logo,
.page-header.sticky .logo {
  background-position: left -57px;
}

.logo {
  width: 260px;
  height: 55px;
  background: url(../images/ODS_logo.png) left top no-repeat;
  background-size: 100%;
  display: block;
  float: left;
  margin: 20px 40px;
}


/*HERO*/

#hero,
.hero-img {
  background-color: #092531;
  min-height: 524px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.hero-img {
  opacity: 0;
  display: block;
}

.hero-img--animate {
  transition: all ease-in-out 5s;
  transform: scale(1.08) translateZ(0);
  opacity: 1;
}

#hero #one {
  background: url(../images/hero01.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .content h1 {
  background: url("../images/h101.png") no-repeat center center;
  display: block;
  height: 120px;
  width: 75%;
  background-size: contain;
}

@media screen and (max-width: 1300px) {
  #hero .content h1 {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  #hero .content h1 {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  #hero .content h1 {
    background-image: url(../images/h101m.png);
  }
}

#hero h1 img {
  max-width: 1000px;
}

#hero .CTA {
  font-size: 34px;
  font-weight: 300;
  color: white;
  margin-top: 6%;
}

#hero .CTA a {
  text-align: center;
  border-radius: 40px;
  clear: both;
  display: inline-block;
  background: #337dff;
  color: #fff;
  margin: 30px 0;
  padding: 14px 40px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.08em;
  display: inline-block;
  transition: all;
  transition-duration: 0.3s;
  text-transform: uppercase
}

#hero .CTA a:hover {
  background: none;
  box-shadow: 0 0 0 2px #fff;
  padding: 14px 50px;
  color: #fff;
}

.section {
  width: 100%;
  min-height: 524px;
  height: 100%;
  text-align: center;
  position: relative;
  clear: both;
}


/*MENU*/

#menuBtn {
  position: fixed;
  padding: 30px 30px;
  right: 0;
  top: 0;
}

#menuBtn.open {
  background: #092531;
}

.page-header--sticky #hamburger span {
  background: #092531;
}

#hamburger.open span {
  background: #fff !important;
}

#hamburger {
  width: 60px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#hamburger span:nth-child(1),
#hamburger span:nth-child(2) {
  top: 0px;
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
  top: 18px;
}

#hamburger span:nth-child(5),
#hamburger span:nth-child(6) {
  top: 36px;
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.page-menu {
  background: #092531;
  font-weight: 300;
  font-size: 14px;
  float: right;
  position: fixed;
  width: 200px;
  right: -202px;
  top: 80px;
  padding: 0;
  transition: all;
  transition-duration: 0.3s;
}

.page-menu.open {
  right: 0;
}

.page-menu__item {
  margin: 0;
  text-align: left;
}

.page-menu__item-link {
  color: #fff;
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.3s;
  padding: 20px 0 20px 20px;
  display: block;
}

.page-menu__item-link:hover,
.page-menu__item-link.active {
  background: rgba(255, 255, 255, 0.1);
  color: #28ffa6;
  box-shadow: 0 2px 0 0 #28ffa6;
}

.story p {
  margin: auto;
}

.story {
  overflow: hidden;
}

.panels {
  display: block;
  width: 600%;
  transition: all;
  transition-duration: 0.8s;
  height: 100%;
}

.panel {
  float: left;
  height: 100%;
}

.unders {
  position: absolute;
  left: calc(50% - 156px);
  margin-top: 120px;
}

.under {
  float: left;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  margin-right;
  10px;
  background-color: silver;
  margin-right: 8px;
  transition: all;
  transition-duration: 1s;
}

.under.active {
  width: 228px;
}

.under.done {
  width: 12px;
  transition-duration: 0.5s;
}

.under:nth-child(1) {
  background: #ff7c33;
}

.under:nth-child(2) {
  background: #ea0032;
}

.under:nth-child(3) {
  background: #33c9ff;
}

.under:nth-child(4) {
  background: #337dff;
}

.under:nth-child(5) {
  background: #b633ee;
}

.under:nth-child(6) {
  background: #ff33d9;
}

.facts {
  text-align: left;
  font-size: 18px;
  color: #666;
  float: none;
  max-width: 760px;
  display: inline-block;
  font-weight: 100;
  margin-top: 30px;
}

.facts li {
  padding: 8px 0;
  max-width: 200px;
  float: left;
  border-top: 3px solid #33c9ff;
  margin: 8px 25px;
}


/* OUR PEOPLE */

.team {
  margin: 0;
}

.team h2 {
  margin: 40px;
}

.s20 {
  width: 25%;
  min-width: 200px;
  height: 50%;
  float: left;
  position: relative;
  max-height: 240px;
}

.s20 .front:hover {
  opacity: 1;
}

.s20 .front .image,
.s20 .back {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all;
  transition-duration: 0.8s;
  position: absolute;
  top: 0;
}

.flip-container .front {
  filter: grayscale(100%);
}

.flip-container:hover {
  cursor: pointer;
}

.flip-container:hover .front {
  transition: all;
  transition: 0.8s;
  filter: none;
}

.flip-container .image {
  width: 100%;
  height: 100%;
  transition: all;
  transition: 0.8s;
}

.flip-container:hover .image {
  transform: scale(1.1);
}

.flip-container:hover .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(50, 0, 75, 0.3);
}

.s20.flipme .flip-container {
  position: absolute;
  z-index: 50!important;
}

.s20 .name {
  transition: all;
  transition-duration: 0.5s;
  position: absolute;
  z-index: 51;
  bottom: 0;
  left: 20px;
  color: #fff;
  text-align: left;
  opacity: 0;
}

.s20 .name span {
  font-weight: 100;
  font-size: 14px;
}

.s20 .name .ods-role {
  color: #fff433;
}

.s20:hover .name,
.flipme .name {
  opacity: 1!important;
  bottom: 20px;
}


/*  UPDATED! flip the pane when clicked */

.s20.flipme .flip-container .back {
  transform: rotateY(0deg);
}

.s20.flipme .flip-container .front {
  transform: rotateY(180deg);
}

.flip-container,
.flipper,
.front,
.back {
  width: 100%;
  height: 100%;
}


/* flip speed goes here */

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.team-member:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(50, 0, 75, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}

.front {
  overflow: hidden;
}




/*OUR SURVEY*/

.survey-launcher {
  padding: 40px 0;
}

.survey-launcher__circle {
  width: 720px;
  height: 720px;
  border-radius: 50%;
  background: #a4d165;
  margin: 7% auto;
  color: #fff;
  border: 40px #bbda58 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .survey-launcher__circle {
    border-radius: 0;
    width: 100%;
    border: 0;
    padding: 40px 0;
  }
}

.survey-launcher__title,
.survey-launcher__button,
.survey-launcher p {
  color: #fff;
}

.survey-launcher__title {
  margin: 0 0 30px 0;
}

.survey-launcher__button {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 10px 40px;
  margin: 10px auto;
  width: 260px;
  transition: all;
  transition-duration: 0.3s;
}

.survey-launcher__button:hover {
  border: 1px solid #fff;
  width: 280px;
  background: #fff;
  color: #a4d165;
}


/*FOOTER AND NEWS*/

.page-footer {
  padding-top: 220px;
  clear: both;
  background: url(../images/footer_bg.svg) no-repeat right top;
  background-size: cover;
  text-align: center;
}

@media screen and (min-width: 1380px) {
  .page-footer { 
    height: 1000px;
  }
}

@media screen and (max-width: 1380px) {
  .page-footer { 
    height: 1300px;
  }
}

@media screen and (max-width: 920px) {
  .page-footer { 
    height: 1700px;
  }
}

.page-footer__title {
  color: #fff;
  font-weight: 100;
  font-size: 34px;
}

.page-footer__news {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.page-footer__news__item {
  position: relative;
}

.page-footer__news__item__image {
  position: absolute;
  z-index: 4;
  right: 0;
  bottom: 0;
  filter: grayscale(100%);
  transition-duration: 0.8s;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.page-footer__news__item,
.page-footer__news__item__text,
.page-footer__news__item__image,
.page-footer__news__item__card,
.page-footer__news__item__feed {
  transition: all;
}

.page-footer__news__item__card {
  width: 380px;
  height: 328px;
  overflow: hidden;
  transition: all;
  position: relative;
}

.page-footer__news__item {
  margin: 40px;
  position: relative;
  width: 380px;
  height: 308px;
  cursor: pointer;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  transition-duration: 0.4s;
}

.page-footer__news__item:hover {
  height: 500px;
}

.page-footer__news__item:after {
  content: "";
  position: absolute;
  z-index: 11;
  left: 0;
  top: 0;
  width: 380px;
  height: 328px;
  background: rgba(0, 0, 0, 0.4);
  transition: all;
  transition-duration: 0.7s;
}

.page-footer__news__item:hover:after {
  background: rgba(0, 0, 0, 0.0);
  z-index: -1;
}

.page-footer__news__item:hover .page-footer__news__item__image {
  filter: none;
}

.page-footer__news__item:hover .page-footer__news__item__text {
  top: 324px;
  opacity: 1;
}

.page-footer__news__item__text {
  opacity: 0;
  width: 340px;
  height: 140px;
  text-align: left;
  text-decoration-line: 1.8;
  padding: 20px;
  position: absolute;
  top: 0;
  color: #999;
  font-weight: 100;
  transition-duration: 0.4s;
}

.page-footer__news__item__feed {
  position: absolute;
  z-index: 35;
  bottom: 0;
  left: 20px;
  color: #ddd;
  font-size: 34px;
  transition-duration: 0.4s;
}

.page-footer__news__item:hover .page-footer__news__item__feed {
  bottom: 20px;
}

.social-network {
  width: 260px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.social-network li a {
  color: #999;
  font-size: 30px;
  border-radius: 40px;
  border: 1px solid #999;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-network li a:hover {
  color: #666;
  border: 1px solid #666;
}


/* Media Queries */

